{{!-- This is the base layout for your project, and will be used on every page. --}}
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RFG</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <script src="https://use.typekit.net/qzp5vhq.js"></script>
    <script>
    try {
        Typekit.load({
            async: true
        });
    } catch (e) {}
    </script>
</head>

<body>
    <!--homepage header/hero -->
    {{#ifpage 'index'}}
    <header class="home">
        <div class="row">
            <div class="logo">
                <a href=""><img src="{{root}}assets/img/logo.svg"/></a>
            </div>
            <div class="menu">
                <a href="">
                    <svg width="18px" height="12px" viewBox="282 9 18 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <!-- Generator: Sketch 3.8.2 (29753) - http://www.bohemiancoding.com/sketch -->
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <path d="M282,21 L300,21 L300,19 L282,19 L282,21 L282,21 Z M282,16 L300,16 L300,14 L282,14 L282,16 L282,16 Z M282,9 L282,11 L300,11 L300,9 L282,9 L282,9 Z" id="Shape" stroke="none" fill="#FFFFFF" fill-rule="evenodd"></path>
                    </svg>
                </a>
            </div>
        </div>
    </header>
    {{/ifpage}}
    <!--/homepage header/hero -->
    <!--header/hero -->
    {{#unlesspage 'index'}}
    <header>
        <div class="row">
            fuck
        </div>
    </header>
    {{/unlesspage}}
    <!--/header/hero -->
    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}} {{> body}}
    <script src="{{root}}assets/js/app.js"></script>
</body>

</html>
