@charset 'utf-8';
@import 'settings';
@import 'foundation';
@import 'motion-ui';
@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;
@include motion-ui-transitions;
@include motion-ui-animations;
button {
    /* shape */
    border-radius: 3px;
    /* text */
    font-family: Montserrat-Bold;
    font-size: .8rem;
    color: #FFFFFF;
    letter-spacing: 4px;
    line-height: 18.2px;
    padding: 15px 30px;
    width: 100%;
}

.row {
    margin: 0 30px;
}

header.home {
    position: fixed;
    height: 60px;
    background: transparent;
    width: 100%;
    .logo {
        float: left;
        margin: 10px 0 0 0;
        width: 184px;
    }
    .menu {
        float: right;
        margin: 15px 0 0 0;
        width: 18px;
    }
}

.home-hero {
    background: #2B63A0;
    text-align: center;
    a {
        display: inline-block;
        height: 60px;
        width: 60px;
        margin: 100px 0 60px 0;
    }
    h2 {
        /* You have the gun, we: */
        font-family: Montserrat-SemiBold;
        font-size: .9rem;
        color: #FFFFFF;
        letter-spacing: 0px;
        padding: 0 0 0;
    }
    h1 {
        font-family: Montserrat-Regular;
        font-size: 2.3rem;
        color: #FFFFFF;
        letter-spacing: 4px;
        line-height: 40px;
        padding: 0 0 27px;
        margin-bottom: 0;
    }
    button {
        background: #FF530D;
    }
    a.text-link {
        /* VIEW ALL ACCESSORIES: */
        font-family: Montserrat-SemiBold;
        font-size: 18px;
        color: #FFFFFF;
        letter-spacing: 1px;
        line-height: 18.2px;
        width: inherit;
        margin: 28px 0 0 0;
        padding-bottom: 0;
    }
}

.scan {
    padding: 40px 0 30px 0;
    text-align: center;
    button {
        background: #2B63A0;
    }
    p {
        /* Lorem ipsum dolor si: */
        font-family: Montserrat-Light;
        font-size: 16px;
        color: #9B9B9B;
        letter-spacing: 0px;
        line-height: 24px;
        padding: 14px 0 30px;
        margin: 0;
        border-bottom: 1px solid #ccc;
    }
}

.manu {
    text-align: center;
    padding: 7px 0 60px;
    .row {
        padding:0;
        img {
            margin: 0 5px 14px;
        }
    }
    button {
        background: #fff;
        border: 1px solid #2B63A0;
        color: #2B63A0;
    }
}
